doctype html
html(lang='en',class='ng-app')
  head
      link(rel='stylesheet', href='/stylesheets/style.css')
      meta(charset='utf8')
      meta(name='viewport',content='initial-scale=1,width=device-width,maximum-scale=1')
      meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
      meta(name='google',content='notranslate')
      //Bootstrap core CSS
      link(href='../../dist/css/bootstrap.min.css', rel='stylesheet')
      //Custom styles for this template
      link(href='blog.css', rel='stylesheet')
  body
    .container
      .sitewrap
    .main-nav#tiles
      .menu-logo
      a(href='http://stockickr.com/news/')
        img.img-rounded.img-responsive(src='/images/stockickr-logo-candidate.png', alt='menu logo')
    header#header.header.parallax-section-1
        .header-container.getdown
          table.featuredText
             .strapline(style='vertical-align: middle; text-align: center;')
                .logo
                  img.img-rounded(src='/images/stockickr-logo-candidate.png', alt='logo')
                .title-container
                  .dash
                  h2 stockickr
                h1.intro-text welcome to our crowdfunding page
    .bleedout.wam what is stockickr?
    .bleedout-again The first “true” real-time social trading platform, fully integrated with social media.
    div.bleedout3.wam
      .row.div1
        .col-lg-9.col-md-9.col-sm-9.col-xs-9
          .righty
            .row.getdown2
            div.titles.wam2 Who Are We?
            .row.getdown3
            div.lefty-content
              div.lefty-content2 We are... Andrew, aka “Rhino” (me) and Bent, aka “Shark”
            .row.getdown3
            div.lefty-content
              div.lefty-content2 We met through the Internet. Back when I was blogging at <a href='http://ibankcoin.com' target='_blank'>ibankcoin.com</a> his brother read my posts, and we became friends. His brother introduced us after he heard about my idea of a real-time social stock-trading platform.<br><br>It’s been a long road, and we’ve worked countless hours. Sometimes Shark will stay up all weekend to make a piece of code work. I’ve had to try and give myself a crash course in everything web development and web design.  We telecommunicate from San Francisco and New York.
            .row.getdown3
            div.righty-content
              div.button-content.btn-block Click Here to Donate
            .row.getdown3
            div.lefty-content
              div.lefty-content2 | Here are our individual profiles |
            .row.getdown3
            div.titles.wam2 Andrew, aka “Rhino”
            .row.getdown3
            div.lefty-content-images
              div.lefty-content-images.wam
                img.img-responsive.img-rounded(src='/images/cemetary.jpg', alt='Rhino')
            .row.getdown3
            div.lefty-content
              div.lefty-content2
                p I grew up in Marin County, CA. I joined the army as soon as I could, and left for basic training a week after turning 18. After basic and Airborne School, I went to Fort Bragg, NC, where I was an airborne infantryman in the 82nd Airborne Division. I completed two tours in Iraq, one during the invasion, which I left for, only 28 days after arriving at Bragg.
                p My degree is in Finance, and thought I wanted to be an analyst, trader, what have you, but that’s not what I want to do. I want to build tech companies, and my future dream beyond this one is to advise, mentor and fund veteran spawned tech companies.
                p Today we're out here executing a very decent idea, bringing it to life and creating actual value along the way. In making this cool stuff, I hope to improve lives, and return value to good people in the community.
            .row.getdown3
            div.titles.wam2 Bent, aka "Shark"
            .row.getdown3
            div.lefty-content-images
              div.lefty-content-images.wam
                  img.img-responsive.img-rounded(src='/images/hackerBent.jpg', alt='Shark')
            .row.getdown3
            div.lefty-content
              div.lefty-content2
                p Bent grew up surfing the Ventura County Line and disassembled his first computer at age 11 using blunt intstruments. He Studied law at Santa Clara Law before leaving to build web apps for commpanies like Moët Hennessy and most recently worked as a Senior Software Engineer for Shake, an iPhone App that creates simple enforceable legal agreements. Bent studied English and Philosophy at the University of Vermont.
            .row.getdown3
            div.lefty-content
              div.lefty-content2 Check out Bent's <a href='http://github.com/reqshark' target='_blank'>Github</a> to see contributions he's made to the open source software community
            .row.getdown3
            div.righty-content
              div.button-content.btn-block Click Here to Donate
            .row.getdown3
            div.titles.wam2 What Are We Trying to Raise Money For?
            .row.getdown3
            div.lefty-content
              div.lefty-content2 | We are raising money in order to help with the launch of our web application, stockickr. |
                p stockickr is the first true real-time social trading platform, where anyone in the world can see all of your trades in real-time, win or lose. The users will vary: from folks who make leagues and compete “fantasy football style,” with their friends, high school students that are prospective finance/business majors wanting to show their investing prowess, teams from both undergraduate and graduate business schools competing to see who is the best, and many more.
                p We need money in order to work on stockickr full-time, while keeping all our servers running. The servers alone are currently $500 a month and while it seems that there will not need to be any scaling, the servers could still be better. We need money for our Internet bills, electrical bills, new software, and any other unexpected expenses.
                p We have figured that $4000 a month would make it possible for us to operate full-time, while upgrading to even faster and more stable servers. We are looking to raise $24,000 in this campaign in order to operate for 6 months. That is our baseline amount to operate, and would be ecstatic just to meet it.
            .row.getdown3
            div.righty-content
              div.button-content.btn-block Click Here to Donate
            .row.getdown3
            div.titles.wam2 When Are We Going To Launch?
            .row.getdown3
            div.lefty-content
              div.lefty-content2 If we start to receive donations, with the servers we have now, we can launch by June 1. The faster donations come in, the faster we can go. If we do not receive any donations, we hope to have the beta version up by June 1, and keep the servers on as long as we can, until we run out of money.
            .row.getdown3
            div.righty-content
              div.button-content.btn-block Click Here to Donate
            .row.getdown3
            div.titles.wam2 Where Can I Use Stockickr?
            .row.getdown3
            div.lefty-content
              div.lefty-content2
                p When the service is live, anyone with a compatible browser can login. Every user would just login on stockickr.com, and then go straight to their profile, where they can buy and sell stocks. stockickr will be completely integrated with social media,  every time you make a trade or publish a new blog post, stockickr can tweet it out with a link, post it on FB, or send it anywhere you want it to go.
                P Stockickr is all about interaction, in order to become better investors and traders through that interaction, and through competition. Share this, and show people you know what stockickr is.  Let them know that you are going to be the best.
            .row.getdown3
            div.righty-content
              div.button-content.btn-block Click Here to Donate
            .row.getdown3
            div.titles.wam2 Why Are We Raising Funds?
            .row.getdown3
            div.lefty-content
              div.lefty-content2
                p So that we can launch a service, that we believe will benefit a large amount of people, while educating people about the stock market and the economy, in a fun, competitive way. We truly believe in this service, and lately made the determination, that as long as you have a brokerage account with Trade King, then you can make real money trades from your account. It’s no longer just paper money... now a high school freshman can turn his $500 8th grade graduation money into $500,000, and it will all be documented in real-time.
            .row.getdown3
            div.righty-content
              div.button-content.btn-block Click Here to Donate
            .row.getdown3
            div.titles.wam2 How Can You Help--Or Get Involved--In Stockickr...
            .row.getdown3
            div.lefty-content
              div.lefty-content2
                p Number one, we need money, that’s the bottom line. We are extremely close to launch, but without any funding, it’s much harder to get it done. Be a beta tester, or just give us feedback when it goes live. You can email us anytime, and let us know what you want, or ask us questions about the service.
                p If you are, or know, an angular.js developer, and may want to work on this, contact us.
                button join our team
            .row.getdown3
            div.righty-content
              div.button-content.btn-block Click Here to Donate
            .row.getdown3
        .col-lg-3.col-md-3.col-sm-3.col-xs-3
          .lefty
            .row.getdown2
            div.righty-content
              div.righty-content2.btn-block Click Here to Donate
            .row.getdown3
            div.titles-right.wam2 Donation Categories
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            div.righty-content
              div.righty-content2 Category One
                p Level 1 - $10 - Founder’s wall, and in-app recognition.
            .row.getdown3
            .row.getdown3
    .bleedout-again3
    .bleedout-again2.bottom-logo.clearfix
      .footer-text<span class=hasher>#</span>stockickr
    .bleedout-again3
    .bleedout.wam.clearfix
      .bottom-box.img-rounded Follow Us
        .social-wrapper
          .free-fb-icon.atomic-bomb-on-the-icon
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js', type='text/javascript')
    script(src='http://www.mynameischris.co.uk/wp-content/themes/mynameischris/common/js/scripts.js', type='text/javascript')
    //script(src='http://www.mynameischris.co.uk/wp-content/themes/mynameischris/common/js/jquery.stellar.min.js', type='text/javascript')
    //script(src='http://www.mynameischris.co.uk/wp-content/themes/mynameischris/common/js/jquery.smooth-scroll.js', type='text/javascript')
    //script(src='http://www.mynameischris.co.uk/wp-content/themes/mynameischris/common/js/parallax-plugin.js')
    script.
      $('.parallax-section-1').parallax({
      speed : 0.2
      });
    script.
      tiles = $("#tiles").fadeTo(0, 0);

      $(window).scroll(function(d,h) {
          tiles.each.fadeIn(0.01) (function(i) {
              a = $(this).offset().top + $(this).height();
              b = $(window).scrollTop() + $(window).height();
              if (a < b) $(this).fadeTo(500,1);
          });
      });

