
doctype html
html(lang='en',class='ng-app')

  head
      link(rel='stylesheet', href='/stylesheets/style.css')
      meta(charset='utf8')
      meta(name='viewport',content='initial-scale=1,width=device-width,maximum-scale=1')
      meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
      meta(name='google',content='notranslate')
      //Bootstrap core CSS 
      link(href='../../dist/css/bootstrap.min.css', rel='stylesheet')
      //Custom styles for this template 
      link(href='blog.css', rel='stylesheet')


  
  body
  .blog-masthead
      //.container
        nav.blog-nav
          a.blog-nav-item.active(href='#') Home
          a.blog-nav-item(href='#') New features  
          a.blog-nav-item(href='#') Press
          a.blog-nav-item(href='#') New hires
          a.blog-nav-item(href='#') About
    .container
      .blog-header
        h1.blog-title.centershit stockickr
        p.puffy
        p.lead.blog-description.centershit welcome to our crowdfunding page
      .row.puffy
        p.puffy
      .row
        .col-sm-8.blog-main
          .blog-post
            h2.blog-post-title.h2-boss What is Stockickr            
            p
              | The first “true” real-time social trading platform, fully integrated into social media.
            
          //
             /.blog-post 
          .blog-post
            h2.blog-post-title.h2-boss Who Are We?            
            p
              strong.getfresh | We are... Andrew, aka “Rhino” (me), and Bent, aka “Shark” |
            p
              | We met through the Internet. Back when I was blogging at ibankcoin.com his brother read my posts, and we became friends. His brother introduced us after he heard about my idea of a real-time social stock-trading platform.             
            p
              |It’s been a long road, and we’ve worked countless hours. Sometimes Shark will stay up all weekend to make a piece of code work. I’ve had to try and give myself a crash course in everything web development and web design.  We telecommunicate from San Francisco and New York. 
            p
              strong.getfresh | Here are our individual profiles |
          //
             /.blog-post 
          .blog-post
            h2.blog-post-title.h2-boss Andrew, aka “Rhino”            
            p
              | I grew up in Marin County, CA. I joined the army as soon as I could, and left for basic training a week after turning 18. After basic and Airborne School, I went to Fort Bragg, NC, where I was an airborne infantryman in the 82nd Airborne Division. I completed two tours in Iraq, one during the invasion, which I left for, only 28 days after arriving at Bragg.           
            p
              | I have a degree in Finance, and thought I wanted to be an analyst, trader, what have you, but that’s not what I want to do. I want to build tech companies, especially veteran spawned tech companies. If I can make a decent idea come to life with near perfect execution, and create actual value along the way, then that is all I ever want to do. I just want to make “cool stuff” that also improves lives, and returns value to the community.
            p
              strong.getfresh | There are not enough veterans in tech, and I hope to change that. |
            img.centershit.puffy(src='https://i.cloudup.com/6SW5iyPRM1-3000x3000.jpeg', alt='Rhino')
  
          //
             /.blog-post
          .blog-post
            h2.blog-post-title.h2-boss Bent, aka "Shark"
            p
              | words 
            img.centershit.puffy(src='https://i.cloudup.com/4ulituSZeU-3000x3000.jpeg', alt='Shark')
          //
             /.blog-post
          .blog-post
            h2.blog-post-title.h2-boss What Are We Trying to Raise Money For?
            p
              strong.getfresh | We are raising money in order to help with the launch of our web application, stockickr. |
            p
              |  stockickr is the first true real-time social trading platform, where anyone in the world can see all of your trades in real-time, win or lose. The users will vary: from folks, who make leagues and compete in them “fantasy football style,” with their friends, high school students that are prospective finance/business majors wanting to show their investing prowess, teams from both undergraduate and graduate business schools competing to see who is the best, and many more.
            p
                | We need money in order to work on stockickr full-time, while keeping all our servers running. The servers alone are currently $500 a month and while it seems that there will not need to be any scaling, the servers could still be better. We need money for our Internet bills, electrical bills, new software, and any other unexpected expenses.
             p
                | We have figured that $4000 a month would make it possible for us to operate full-time, while upgrading to even faster and more stable servers. We are looking to raise $24,000 in this campaign in order to operate for 6 months. That is our baseline amount to operate, and would be ecstatic just to meet it.
          //
             /.blog-post
          .blog-post
            h2.blog-post-title.h2-boss When Are We Going To Launch?
            p
              | If we start to receive donations, with the servers we have now, we can launch by June 1. The faster donations come in, the faster we can go. If we do not receive any donations, we hope to have the beta version up by June 1, and keep the servers on as long as we can, until we run out of money.
          //
             /.blog-post
          .blog-post
            h2.blog-post-title.h2-boss Where Can I Use Stockickr?
            p
              | When the service is live, anyone with a compatible browser can login. Every user would just login on stockickr.com, and then go straight to their profile, where they can buy and sell stocks. stockickr will be completely integrated with social media,  every time you make a trade or publish a new blog post, stockickr can tweet it out with a link, post it on FB, or send it anywhere you want it to go.
            P
              | Stockickr is all about interaction, in order to become better investors and traders through that interaction, and through competition. Share this, and show people you know what stockickr is.  Let them know that you are going to be the best.
          //
             /.blog-post
          .blog-post
            h2.blog-post-title.h2-boss Why Are We Raising Funds?
            p
              | So that we can launch a service, that we believe will benefit a large amount of people, while educating people about the stock market and the economy, in a fun, competitive way. We truly believe in this service, and lately made the determination, that as long as you have a brokerage account with Trade King, then you can make real money trades from your account. It’s no longer just paper money... now a high school freshman can turn his $500 8th grade graduation money into $500,000, and it will all be documented in real-time.
          //
             /.blog-post
          .blog-post
            h2.blog-post-title.h2-boss How Can You Help--Or Get Involved--In Stockickr...
            p
              | Number one, we need money, that’s the bottom line. We are extremely close to launch, but without any funding, it’s much harder to get it done. Be a beta tester, or just give us feedback when it goes live. You can email us anytime, and let us know what you want, or ask us questions about the service. 
            p
              | If you are, or know, an angular.js developer, and may want to work on this, contact us.
            button.dumbdumb.h2-boss join our team 

          
        //
          /.blog-main 
        .col-sm-3.col-sm-offset-1.blog-sidebar.dudereally
          //.sidebar-module.sidebar-module-inset            
          .sidebar-module.widerhoe
            h2.h2-boss Donation Categories
            ol.list-unstyled
              li.div1 Category One
            ol.list-unstyled
              li.div1 Category Two
            ol.list-unstyled
              li.div1 Category Three
            ol.list-unstyled
              li.div1 Category Four
            ol.list-unstyled
              li.div1 Category Five
            ol.list-unstyled
              li.div1 Category Six
            ol.list-unstyled
              li.div1 Category Seven
            ol.list-unstyled
              li.div1 Category Eight
            ol.list-unstyled
              li.div1 Category Nine
            ol.list-unstyled
              li.div1 Category Ten
               
          .sidebar-module.dudereally.widerhoe
            h4.h2-boss share this with your friends
            ol.list-unstyled
              li
                a(href='#') GitHub
              li
                a(href='#') Twitter
              li
                a(href='#') Facebook
        //
           /.blog-sidebar 
      //
         /.row 
    //
       /.container 
    //.blog-footer
      p
        | Blog template built for
        a(href='http://getbootstrap.com') Bootstrap
        | by
        a(href='https://twitter.com/mdo') @mdo
        | .
      p
        a(href='#') Back to top
    //
       Bootstrap core JavaScript
          ================================================== 
    //
       Placed at the end of the document so the pages load faster 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='../../dist/js/bootstrap.min.js')
    script(src='../../assets/js/docs.min.js')

    
      