doctype html
html(lang='en',class='ng-app')
  head
      link(rel='stylesheet', href='/stylesheets/style.css')
      meta(charset='utf8')
      meta(name='viewport',content='initial-scale=1,width=device-width,maximum-scale=1')
      meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
      //meta(name='google',content='notranslate')
      //link(rel='stylesheet', href='http://www.mynameischris.co.uk/wp-content/themes/mynameischris/common/css/boilerplate.css', media='screen', type='text/css')
      //Bootstrap core CSS
      link(href='../../dist/css/bootstrap.min.css', rel='stylesheet')
      //Custom styles for this template
      link(href='blog.css', rel='stylesheet')
  body
    .sitewrap
    header#header.header.parallax-section-1
        .header-container.getdown
          table.featuredText
             .strapline(style='vertical-align: middle; text-align: center;')
                .logo
                  img(src='https://i.cloudup.com/kc2sceuUq4-2000x2000.png', alt='logo')
                .title-container
                  .dash
                  h2 stockickr
                h1.intro-text
                  | welcome to our crowdfunding page
    .bleedout.wam what is stockickr?      
    .bleedout-again The first “true” real-time social trading platform, fully integrated into social media.
    div.bleedout3.wam
      .div1
        div.lefty
          p words
        div.righty
    .bleedout-again2.bottom-logo               
        img(src='https://i.cloudup.com/kc2sceuUq4-2000x2000.png', alt='logo')
    
    //
       Placed at the end of the document so the pages load faster

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js', type='text/javascript')
    script(src='http://www.mynameischris.co.uk/wp-content/themes/mynameischris/common/js/scripts.js', type='text/javascript')
    //script(src='http://www.mynameischris.co.uk/wp-content/themes/mynameischris/common/js/jquery.stellar.min.js', type='text/javascript')
    script(src='http://www.mynameischris.co.uk/wp-content/themes/mynameischris/common/js/jquery.smooth-scroll.js', type='text/javascript')
    //script(src='http://www.mynameischris.co.uk/wp-content/themes/mynameischris/common/js/parallax-plugin.js')
    script
      $('.parallax-section-1').parallax({
      speed : 0.2
      });


