@import '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css';
@import 'http://stockickr.com/news/css/screen.css';
@import 'http://stockickr.com/g/4a6e868cfce70f/stylesheets/f/fonts.css';
@font-face {
  font-family: 'dense-regular-webfont';
  src: url("dense-regular-webfont.eot");
  src: url("dense-regular-webfont.eot?#iefix") format('embedded-opentype'), url("FileName.woff") format('woff'), url("dense-regular-webfont.ttf") format('truetype'), url("dense-regular-webfont.svg#FontName") format('svg');
  font-style: normal;
  font-weight: normal;
}
.col-sm-3.col-sm-offset-1.blog-sidebar {
  text-align: center;
}
.getfresh {
  font-weight: 900;
}
.crowd-page {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.dudereally {
  margin: 0 auto 0 auto;
}
.h2-boss {
  font-family: 'dense-regular-webfont';
  text-align: center;
  text-transform: uppercase;
}
.div1 {
  width: 400px;
  height: 400px;
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
}
.merica {
  border: 2px solid;
  border-radius: 25px;
  padding-right: 120px;
  padding-left: 50px;
}
.centershit {
  text-align: center;
}
.puffit {
  padding-left: 50px;
}
.floatrizzy {
  float: right;
}
.dumbdumb {
  margin-left: 250px;
  margin-right: auto;
  margin-bottom: 200px;
}
.div2 {
  float: left;
  height: 400px;
  width: 200px;
  border: 2px solid;
  border-radius: 25px;
}
.donate {
  border: 2px solid;
  border-radius: 25px;
}
.puffy {
  margin: 30px 0 50px 50px;
}
.puffy2 {
  margin: 30px 0 20px 50px;
}
.widerhoe {
  width: 400px;
}
sitewrap:before,
.sitewrap:after {
  content: "";
  display: table;
}
.sitewrap {
  background: none repeat scroll 0 0 #fff;
}
.sitewrap:after {
  clear: both;
}
.sitewrap:before,
.sitewrap:after {
  content: "";
  display: table;
}
.container {
  margin: 0 2%;
  width: 96%;
  overflow: hidden;
}
#header {
  background: url("http://s3.amazonaws.com/stockickr/assets/images/bg/greentessellation.jpg") center center fixed;
  background-size: cover;
  color: #fff;
  background-position: left top;
  height: 100%;
  width: 100%;
  text-align: center;
}
.header {
  background-attachment: fixed;
  height: auto;
  position: relative;
  width: 100%;
}
.strapline h4 {
  color: #fff;
  font-size: 4em;
  text-align: center;
}
.strapline h2 {
  color: #fff;
  font-family: 'proxima_nova_rgbold';
  font-size: 2em;
  letter-spacing: 0.1em;
  margin: 36px auto 20px;
}
.strapline .border {
  font-size: 1.2em;
  font-family: 'proxima_nova_alt_reg-webfont';
}
.strapline-row {
  margin: 0 !important;
  overflow: hidden !important;
}
.intro-text {
  clear: both;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 48px;
  margin: 34px auto 60px;
  max-width: 720px;
  opacity: 0.7;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 900;
}
.header-container {
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  width: 100%;
}
.stockickr-logo,
.one_four,
.two_four,
.three_four,
.four_four,
.one_three,
.two_three,
.three_three,
.one_two,
.two_two,
.two_third,
.one_third {
  float: left;
  height: auto;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 10px;
  margin-left: 0;
  width: 100%;
}
.logo {
  margin-top: -95px !important;
  opacity: 0;
}
.no-js .logo {
  margin-left: 25px;
  opacity: 1;
  position: relative;
  top: 132px;
  width: auto;
  z-index: 4000;
}
.grid .one_four,
.grid .two_four,
.grid .three_four,
.grid .four_four,
.grid .one_three,
.grid .two_three,
.grid .three_three,
.grid .one_two,
.grid .two_two,
.grid .two_third,
.grid .one_third {
  color: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.featuredText {
  height: 100%;
  left: 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 5;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
