@import '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css';
@import 'http://stockickr.com/news/css/screen.css';
@import 'http://stockickr.com/g/4a6e868cfce70f/stylesheets/f/fonts.css';
@font-face {
  font-family: 'dense-regular-webfont';
  src: url("dense-regular-webfont.eot");
  src: url("dense-regular-webfont.eot?#iefix") format('embedded-opentype'), url("FileName.woff") format('woff'), url("dense-regular-webfont.ttf") format('truetype'), url("dense-regular-webfont.svg#FontName") format('svg');
  font-style: normal;
  font-weight: normal;
}
.col-sm-3.col-sm-offset-1.blog-sidebar {
  text-align: center;
}
.getfresh {
  font-weight: 900;
  text-align: center;
}
#bgit:hover {
  cursor: pointer;
  color: #6a9c75;
}
.btn-block:hover {
  cursor: pointer;
  color: #e80c29;
}
.crowd-page {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.dudereally {
  margin: 0 auto 0 auto;
}
.h2-boss {
  font-family: 'dense-regular-webfont';
  text-align: center;
  text-transform: uppercase;
}
.div1 {
  position: relative;
  max-width: 99%;
  min-width: 80%;
  width: 45%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 3%;
  border-radius: 25px;
  font-family: 'leagueG';
  text-align: center;
  display: inline-block;
  background-color: rgba(255,255,255,0.01);
  opacity: 1;
  overflow: scroll;
}
.lefty-content-images {
  position: relative;
  width: auto;
  height: auto;
  margin: 20px 20px 20px 20px;
  padding: 15px 15px 15px 15px;
  color: #000;
  font-family: 'Open Sans';
  font-size: 75%;
  letter-spacing: 0.1em;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255,255,255,0.95);
  text-transform: none;
}
.merica {
  border: 2px solid;
  border-radius: 25px;
  padding-right: 120px;
  padding-left: 50px;
}
.centershit {
  text-align: center;
  position: relative;
}
.puffit {
  padding-left: 50px;
}
.floatrizzy {
  float: right;
}
.dumbdumb {
  margin-left: 250px;
  margin-right: auto;
  margin-bottom: 200px;
}
.getdown {
  padding-top: 15%;
}
.getdown2 {
  padding-top: 7.5%;
}
.getdown3 {
  padding-top: 3.75%;
}
.div2 {
  float: left;
  height: 400px;
  width: 200px;
  border: 2px solid;
  border-radius: 25px;
}
.donate {
  border: 2px solid;
  border-radius: 25px;
}
.puffy {
  margin: 30px 50px 50px 50px;
  padding-left: 20px;
}
.puffy2 {
  margin: 30px 50px 50px 50px;
  padding-left: 40px;
}
.widerhoe {
  width: 400px;
}
.bleedout {
  width: 100%;
  height: 40%;
  position: relative;
  font-family: 'leagueG';
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-top: 8%;
  font-size: 500%;
  line-height: 100px;
}
.bleedout-again {
  width: 100%;
  height: 40%;
  position: relative;
  font-family: 'leagueG';
  text-align: center;
  text-transform: uppercase;
  padding-top: 10%;
  font-size: 350%;
  line-height: 100px;
}
.bleedout2 {
  width: 50%;
  height: 200px;
  position: relative;
  font-family: 'dense-regular-webfont';
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-top: 5%;
  font-size: 40px;
  background-color: rgba(255,255,255,0.01);
}
.bleedout3 {
  width: auto;
  height: 1800px;
  position: relative;
  font-family: 'dense-regular-webfont';
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 40px;
}
.bleedout-again2 {
  background: url("http://s3.amazonaws.com/stockickr/assets/images/bg/greentessellation.jpg") center center fixed;
  background-size: cover;
  background-position: left top;
  height: 40%;
  width: 100%;
  text-align: center;
}
.bottom-logo {
  padding-top: 6%;
  margin: 0 0 0 0;
}
.lefty {
  float: left;
  position: relative;
  width: 69%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  border: 2px solid;
  margin-bottom: 20px;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  opacity: 1;
}
.righty {
  position: relative;
  width: 29%;
  height: auto;
  margin-left: 1%;
  margin-right: 0;
  margin-bottom: 3%;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255,255,255,0.5);
  opacity: 1;
}
.titles {
  display: inline-block;
  width: 80%;
  height: auto;
  font-family: 'leagueG';
  text-align: center;
  font-size: 250%;
  border-radius: 25px;
  border: 2px solid #fff;
  line-height: 120%;
}
.titles-right {
  display: inline-block;
  width: 80%;
  height: auto;
  font-family: 'leagueG';
  text-align: center;
  font-size: 100%;
  border-radius: 25px;
  border: 2px solid #fff;
  line-height: 120%;
}
.bleedout-again3 {
  width: 100%;
  height: 10px;
  position: relative;
  font-family: 'dense-regular-webfont';
  text-align: center;
  text-transform: uppercase;
}
.fancyline {
  width: 50%;
  height: 5px;
  position: relative;
  ont-family: 'dense-regular-webfont';
  text-align: center;
  text-transform: uppercase;
}
.wam {
  background: url("https://dl-web.dropbox.com/get/cloudup-AF908298-420F-4BDB-8E4B-724AE2818A89.png?_subject_uid=143073632&w=AACY_sEMGAn0euoZ3hXBXNMrKpIcMPXgZ-LvBgxU6ZRIRA") center center fixed;
  background-size: cover;
  width: auto;
}
.wam2 {
  background: url("https://dl-web.dropbox.com/get/cloudup-AF908298-420F-4BDB-8E4B-724AE2818A89.png?_subject_uid=143073632&w=AACY_sEMGAn0euoZ3hXBXNMrKpIcMPXgZ-LvBgxU6ZRIRA") center center fixed;
  background-size: cover;
}
.lefty-content {
  position: relative;
  width: 80%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  color: #000;
  font-family: 'leagueG';
  font-size: 75%;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255,255,255,0.75);
  text-transform: none;
}
.lefty-content2 {
  position: relative;
  width: 95%;
  height: 90%;
  margin: 20px 20px 20px 20px;
  padding: 15px 15px 15px 15px;
  color: #000;
  font-family: 'Open Sans';
  font-size: 75%;
  letter-spacing: 0.1em;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255,255,255,0.95);
  text-transform: none;
}
.righty-content {
  position: relative;
  width: 80%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  color: #000;
  font-family: 'leagueG';
  font-size: 75%;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255,255,255,0.75);
  text-transform: none;
}
.righty-content2 {
  position: relative;
  width: 95%;
  height: 90%;
  margin: 10px 15px 10px 10px;
  padding: 15px 15px 15px 15px;
  padding-right: 15x;
  color: #000;
  font-family: 'Open Sans';
  font-size: 50%;
  letter-spacing: 0.1em;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255,255,255,0.95);
  text-transform: wrap;
  line-height: 100%;
}
img {
  border-radius: 25px;
}
.sitewrap:before,
.sitewrap:after {
  content: "";
  display: table;
}
.sitewrap {
  background: #fff repeat scroll 1 0 0;
}
.sitewrap:after {
  clear: both;
}
#header {
  background: url("http://s3.amazonaws.com/stockickr/assets/images/bg/greentessellation.jpg") center center fixed;
  background-size: cover;
  color: #f00;
  background-position: left top;
  height: 100%;
  width: 100%;
  text-align: center;
}
.header {
  background-attachment: fixed;
  height: auto;
  position: relative;
  width: 100%;
}
.header-container {
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  min-width: 100%;
  min-height: 50%;
}
.strapline {
  background-color: #fff;
  background-color: rgba(255,255,255,0.22);
  opacity: 1;
  width: 100%;
}
.strapline h4 {
  color: #000;
  font-size: 4em;
  text-align: center;
}
.strapline h2 {
  color: #000;
  font-family: 'proxima_nova_rgbold';
  font-size: 2em;
  letter-spacing: 0.1em;
  margin: 36px auto 20px;
  text-align: center;
}
.title-container .dash {
  border-bottom: 3px solid #ccc;
  margin: 35px auto auto;
  overflow: visible;
  width: 30px;
}
.intro-text {
  padding-bottom: 50px;
  clear: both;
  color: #000;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 48px;
  margin: 34px auto 60px;
  max-width: 720px;
  opacity: 0.7;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 900;
}
.one_four,
.two_four,
.three_four,
.four_four,
.one_three,
.two_three,
.three_three,
.one_two,
.two_two,
.two_third,
.one_third {
  float: left;
  height: auto;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 10px;
  margin-left: 0;
  width: 100%;
}
.logo {
  vertical-align: middle;
  padding-top: 50px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  opacity: 1;
}
.featuredText {
  height: 20%;
  left: 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 5;
}
